<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <div *ngIf ="cart.length>0" fxFlex class="form-size">
    <mat-card>
    <h3>Details </h3>
    <!-- <p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p> -->


    <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" [hidden] = "feedback">
      <p>
        <mat-form-field>
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput formControlName="telnum" placeholder="Phone Number" type="tel" pattern="[0-9]*" minlength maxlength required>
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="none">
            <table class="form-size">
                <td>
                     <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
                </td>
            </table>
            <textarea matInput hidden></textarea>
          </mat-form-field>
        
        
      </p>
       
        <p *ngIf ="feedbackForm.status == 'VALID'">
        <button type="submit" mat-button class="background-green text-floral-white">Submit</button>
        </p>
        <p *ngIf ="feedbackForm.status == 'INVALID'">
        <button type="submit" disabled mat-button class="background-red text-floral-white">Submit</button>
        </p>
    </form>  
  </mat-card>
  </div>
  <div>
    <mat-card  *ngIf ="cart.length > 0" fxFlex>
      <mat-card-header>
        <mat-card-title>SUMMARY</mat-card-title>
        <mat-card-subtitle>Total Items : {{ cart.length }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <table class="table table-dark"  >
          <thead >
            <tr>
              <th scope="col">#</th>
              <th scope="col">ISBN</th>
              <th scope="col">Title</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor ="let x of cart; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{ x.isbn }}</td>
              <td>{{x.title}}</td>
              <td>{{x.price}}</td>
            </tr>
            <tr >
              <th scope="row">Total Price</th>
              <td></td>
              <td></td>
              <td>{{total_price}}</td>
            </tr>
          </tbody>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf ="cart.length == 0 && !submit" >
    <mat-card class="centered" >
      <mat-card-header>
        <mat-card-title >Kindly Add Something in your Cart</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  
</div>
<mat-card *ngIf = "feedback && submit">
  <mat-title><h2><strong>Thank You For Shopping</strong></h2> </mat-title>
  <br>
  <mat-sub-title><Strong>Details Acknoledgement</Strong></mat-sub-title>

  <mat-content>
    
    <br><br>
    <p >
     First Name : {{feedback.firstname}}
    </p  >  
    <p >
      Last Name : {{feedback.lastname}}
    </p  >
    <p >
      Ph. Number : {{feedback.telnum}}
    </p>
    <p>
      Ack Number : <strong>{{ feedback.telnum % 1091373  }}</strong>
    </p>
    <p *ngIf ="feedback.agree">
    Thank You for Letting Us Contact you.. 
    We'll get In touch shortly...
    </p>
  </mat-content>  
</mat-card>
