.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

.centered {
    position: fixed; /* or absolute */
    top: 20%;
    left: 10%;
    background-color: #575253;
    color: #ffffff;
  }